<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.myco.android.birthdayreminder"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	
    <application android:icon="@drawable/launcher_bday" android:label="@string/app_name">
        <activity android:name=".BirthdayReminderActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ContactInfoActivity"
        	      android:label="Test Activity">
        </activity>

		<receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <service android:name=".CheckEventsService" />
        
    </application>
</manifest>